* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.view-menu {
    height: 200px;
    background-color: red;
}

.food-menu-navbar {
    background-color: #3a24f0;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

.food-menu-navbar a {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;
}

.food-menu-navbar a:hover {
    text-decoration: underline;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.menu {
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
}

.menu-group-holder {
    background-color: black;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    width: 100%;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    /*border-bottom: 2px solid #ccc;*/
    color: white;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
}

.menu-item {
    display: flex;
    border: 1px solid;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-price {
    margin: 5px 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
}

.menu-item-description {
    line-height: 1.2em;
}

.menu-item:hover {
    box-shadow: 20px 20px 20px rgba(33, 33, 33, .2);
}

@media screen and (min-width: 1000px) {
    .menu {
        font-size: 20px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
