{% extends 'base.html.twig' %}

{% block title %}Checkout Successful{% endblock %}

{% block body %}
    <h1>Your order has been placed. Thank you!</h1>

    <a href="{{ path("default") }}">Return Home</a>

{% endblock %}
